@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', cursive;
  box-sizing: unset;
}

a {
  color: inherit;
  text-decoration: none;
}
/*Л*/

ul{
  margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}